<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.squeed.golftracker"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
    
    	<uses-library android:name="com.google.android.maps" />
    
        <activity android:name=".MenuActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".VenueListActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".EditCourseListActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".NewCourseActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".NewCourseMapActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".RegisterActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".SelectTeeActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".NewPoiActivity"
                  android:label="@string/app_name">
        </activity>
        
         <activity android:name=".RecordShotActivity"
                  android:label="@string/app_name">
        </activity>
        
         
        <activity android:name=".EditHoleActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".GolfTrackerActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".PoiListActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".HoleMapActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".HoleScoreActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".EditHoleMapActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".Preferences"
                  android:label="@string/app_name">
        </activity>
		<activity android:name=".SyncWithDbActivity"
                  android:label="@string/app_name">
        </activity>
    </application>
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>